* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.header {
  height: 220px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  background-color: gray;
  position: sticky;
}
.logo img {
  height: 200px;
  width: 190px;
  border-radius: 20%;
  border-color: gray;
  margin-left: 15px;
}
.info h1 {
  font-style: italic;
}
.info button {
  color: white;
  background-color: rgb(22, 22, 231);
  border-radius: 35%;
  height: 70px;
  width: 130px;
}

.intro {
  height: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.intro img {
  height: 400px;
  width: 400px;
  border-color: black;
  border-style: solid;
  border-radius: 35%;
  box-shadow: inset;
}
.intro text {
  justify-items: center;
  align-items: center;
  margin: 30px;
}
.intro h1 {
  font-size: large;
  font-style: italic;
  color: blue;
  display: flex;
  justify-items: center;
  align-items: start;
}
img {
  height: 350px;
  width: 350px;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
